Enter flickr id:
<%= form_tag do %>
    <%= text_field_tag :flickr_id %>
    <%= submit_tag "submit" %>
<% end %>
<div>
    <% @photos.each do |photo| %>
        <p><img src="<%= photo %>"></p>
    <% end %>
</div>
